<br/>
<br/>
<div class="container">
  <div class="row">
    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-8 col-xs-8">
                List Of Resuturents
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
                <a href="#" class="btn btn-warning btn-sm" (click)="refresh()">
                    <span class="glyphicon glyphicon-refresh"></span> Refresh
                  </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8">
                <input type="text" class="form-control" id="search" placeholder="Search Name" [(ngModel)]="searchText">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                <a class="btn btn-md btn-success" (click)="search()">Search</a>
            </div>
          </div>
        </div>
        <div class="panel-body table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Logo</th>
                <th>description</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let json of jsonArray | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
                <td (click)="showLocation(json, i)">{{json.name}}</td>
                <td><span>Lat : {{json.location['lat']}}</span><br/><span>Long : {{json.location['long']}}</span></td>
                <td><img src={{json.logo}} alt={{json.name}} height="42" width="42"></td>
                <td>
                  <span *ngIf="!json.isFullDesc">{{json.description}}<a *ngIf="json.isBig" (click)="showFullDesc(json, i, 'more')"> Read more</a></span>
                  <span *ngIf="json.isFullDesc">{{json.fullDesc}}<a *ngIf="json.isBig" (click)="showFullDesc(json, i, 'less')"> Read less</a></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading">Locations</div>
        <div class="panel-body">
          <agm-map [latitude]="latFirst" [longitude]="longFirst" [zoom]="zoom" [disableDefaultUI]=false [zoomControl]="false">
            <agm-marker   *ngFor="let mark of markers; let i = index"
              [latitude]="mark.lat" 
              [longitude]="mark.long" 
              [markerDraggable]="mark.draggable"
              [iconUrl]="mark.icon"
              >
            </agm-marker>
            <!-- <agm-marker
              [latitude]="latFirst" 
              [longitude]="longFirst" 
              [markerDraggable]=false
              [iconUrl]="'./assets/green.png'"
              >

            </agm-marker> -->
          </agm-map>
        </div>
      </div>
    </div>
  </div>
</div>